[submodule "pelican-elegant"]
	path = pelican-elegant
	url = git@github.com:kylebarlow/pelican-elegant.git
[submodule "pelican-plugins"]
	path = pelican-plugins
	url = git@github.com:kylebarlow/pelican-plugins.git
